/* .contact_bar {
  
} */

.contact_bar__container {
  background-color: #313131;
  color: #fff;
  padding: 20px;
}

.logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px dotted #fff;
}

.logo__text {
  margin-left: 20px;
  letter-spacing: 5px;
}

.icons__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  /* width: 100%; */
  /* background: #313131; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding: 20px; */
  /* position: fixed; */
  /* top: 70px; */
}

.text {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
  padding-left: 10px;
}

.icon {
  /* color: #fff; */
  width: 30px;
  height: 30px;
}
